#zines.hfeed
  - @zines.each_with_index do |zine, index|
    = div_for zine, :class => "column span-24 hentry" do
      .cover.column.span-4
        = zine.cover_image_tag
      .meta.column.span-20.last
        .entry-title
          %h3= zine.title_link
          %h4= zine.subtitle_link
        %h5
          %span.alt
            = I18n.t 'author.attribution'
          %span.author-name
            = zine.author_name_tag
        - if zine.excerpt?
          %section.excerpt.entry-summary
            = simple_format zine.excerpt
